
.note-square {
    width: 0.6em;
    height: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    user-select: none; /* Zablokuj zaznaczanie tekstu */
    padding: 0;
    margin: 0;
    background-color: white;
}

.note-input-button {
    border: none;
    background: transparent;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
    outline: none; /* Usuñ obramowanie przy focuse */
    padding: 0; /* Usuñ padding */
    margin: 0; /* Usuñ margin */
    cursor: pointer; /* WskaŸnik kursora jak dla przycisku */
    caret-color: transparent; /* Ukryj kursor */
}

.slide-line {
    background: black;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

