.note-container {
    position: relative;
    display: inline-block;
}

.note-square {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: text;
    user-select: none; /* Zablokuj zaznaczanie tekstu */
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFFFFF;
}

.pause-select {
    -webkit-appearance: none; /* Ukrywa strza³kê w przegl¹darkach WebKit */
    -moz-appearance: none; /* Ukrywa strza³kê w Firefoksie */
    appearance: none; /* Ukrywa strza³kê w nowoczesnych przegl¹darkach */
    border: none;
    background: transparent;
    color: black;
    text-align: center;
    font-size: 15px;
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
    caret-color: transparent; /* Ukrycie kursora */
}

.note-input-button {
    border: none;
    background: transparent;
    color: black; /* Tekst w kolorze czarnym */
    text-align: center;
    font-size: 15px;
    outline: none; /* Usuñ obramowanie przy focuse */
    width: 100%; /* Dostosuj szerokoœæ, jeœli potrzebne */
    padding: 0; /* Usuñ padding */
    margin: 0; /* Usuñ margin */
    cursor: pointer; /* WskaŸnik kursora jak dla przycisku */
    caret-color: transparent; /* Ukryj kursor */
}
